@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/3066b11123e63381b8e2aa554b18bf32?family=Bauhaus+93+V1);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sau-html {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ffffff;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.banner-sau {
  width: 100%;
  background-color: #99AA38;
  padding: 1em 0;
  position: relative;


}

.banner-sau .nav-sau {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.banner-sau .nav-sau .logo-sau {
  margin-left: 5em;
  text-align: center;
}

.banner-sau .nav-sau .logo-sau a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Bauhaus 93';
}

.banner-sau .nav-sau ul li {
  display: inline-block;
  position: relative;
  list-style: none;
  margin-right: 3em;
}

.banner-sau .nav-sau ul li a {
  text-decoration: none;
  font-size: 1.1em;
  color: #ffffff;
  letter-spacing: 2px;
}

.banner-sau .nav-sau ul li::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 80%;
  top: 120%;
  left: 0;
  background: #ffffff;
  border-radius: 50px;
  transform: scale(0);
  visibility: hidden;
  transition: transform linear 0.2s;
}

.banner-sau .nav-sau ul li:hover::after {
  transform: scale(1);
  visibility: visible;
}

.main-sau {
  text-align: center;
  padding: 2em;
  margin: 30px auto;
  border-radius: 16px;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hig-container-sau {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.hig-container-h1-sau {
  color: #14591D;
  margin-bottom: 20px;
  font-family: 'Bauhaus 93';
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 10px;
}

.hig-container-h2-sau {
  color: #14591D;
  margin-bottom: 20px;
  font-family: 'Bauhaus 93';
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: 2px;

}

.subimg {
  display: flex;
  padding: 15px;
  font-size: 1.2em;
  align-items: center;
  text-align: left;
}

.img-sau {
  width: 500px;
  height: auto;
  padding: 10px;
}

.sub-sau {
  font-family: 'Roboto', 'sans-serif';
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
}

.sec-cont {
  text-align: left;

}

.sec-cont-titulo {
  padding: 30px;
  color: #14591D;
  margin-bottom: 20px;
  font-family: 'Roboto', 'sans-serif';
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 10px;
}

.sec-titulo {
  padding: 10px;
  font-weight: 900;
  margin-bottom: 20px;
}

.sec-cont p {
  padding: 10px;
  margin-bottom: 20px;
}


.subtitle-sau {
  color: #4a4a4a;
  font-size: 1rem;
  margin-bottom: 40px;
}

.step-sau {
  background-color: #dadb9db4;
  border: 1px solid #A17C6B;
  border-radius: 12px;
  padding: 30px 40px;
  margin: 30px auto;
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  gap: 20px;
}

.step-number-sau {
  background-color: #99AA38;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.step-content-sau {
  text-align: left;

}

.step-content-sau h2 {
  font-size: 1.2rem;
  margin: 0 0 10px;
  color: #2b2b2b;
}

.step-content-sau p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin: 0;
}


a {
  color: #14591D;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.faq-sau {
  background-color: #dadb9db4;
  border-radius: 12px;
  border: 1px solid #A17C6B;
  padding: 30px 25px;
  margin-top: 40px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

.faq-sau h2 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #14591D;
}

.faq-item-sau {
  margin-bottom: 20px;
}

.faq-item.-sau strong {
  display: block;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
}

.faq-item-sau p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.rodape-sau {
  background-color: #99AA38;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.9em;
  margin-top: 3em;
}